.container {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 1.5rem auto 0.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1;
}

.link {
  margin-bottom: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  color: var(--cGreen);
  text-decoration: none;
}

.form {
  min-width: 50%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.row {
  display: flex;
  align-items: center;
}

.pswdBtn {
  position: absolute;
  right: 1.5rem;
  background: none;
  border: none;
}
