.info {
  display: flex;
  margin: 0 1.5rem 0 0.3rem;
}

.author {
  line-height: 1rem;
  color: var(--cGreen);
  font-weight: 500;
  text-decoration: none;
}

.date {
  color: var(--сGrey);
  font-size: 0.8rem;
  font-weight: 300;
}
