@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  margin-right: 2rem !important;
  padding: 0 0 0.25rem 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5rem !important;
  font-weight: 700;
  background-color: transparent;
  color: #5cb85c;
  text-decoration: none;
}

.nav {
  display: flex;
}

.navitem {
  margin-right: 1rem;
}

.navitem:last-child {
  margin: 0;
}
