.input {
  margin: 0;
  padding: 0.75rem 1.5rem;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
}

.input:focus {
  border-color: #66afe9;
  outline: none;
}

.input::placeholder {
  color: #99a3b0;
}

.input:disabled {
  background-color: #eee;
}
