.banner {
  width: 100%;
  margin-bottom: 2rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: var(--cGreen);
  box-shadow: inset 0 8px 8px -8px rgb(0 0 0 / 30%),
    inset 0 -8px 8px -8px rgb(0 0 0 / 30%);
}

.title {
  font-family: 'Titillium Web';
  font-weight: 700;
  font-size: 3.5rem;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  line-height: 1;
}

.content {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}
