.article {
  padding: 1.5rem 0;
  color: var(--cDBlue);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.meta {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.btnsContainer {
  display: flex;
  gap: 1vmin;
}

.title {
  margin: 0 0 3px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.1;
  cursor: pointer;
}

.description {
  margin: 0 0 15px;
  font-weight: 300;
  color: var(--сGrey);
  line-height: 1.3rem;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
}

.span {
  max-width: 30%;
  display: flex;
  align-items: flex-end;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--сGrey);
  cursor: pointer;
}
