@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-Black.ttf) format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-ExtraLightItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-SemiBoldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-BlackItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-ExtraLightItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-Regular.woff2) format('woff2'),
    url(../fonts/SourceSansPro-Regular.ttf?) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-SemiBold.woff2) format('woff2'),
    url(../fonts/SourceSansPro-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-SemiBoldItalic.woff2) format('woff2'),
    url(../fonts/SourceSansPro-SemiBoldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}
