@font-face {
  font-family: 'Titillium Web';
  src: url(../../../public/fonts/TitilliumWeb-Bold.woff2) format('woff2');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../../../public/fonts/SourceSansPro-Light.woff2) format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../../../public/fonts/SourceSansPro-Regular.woff2) format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../../../public/fonts/SourceSansPro-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-display: swap;
}
