:root {
  --cGreen: #008000;
  --сGrey: #666;
  --сDGrey: #444;
  --cWhite: #f3f3f3;
  --cDBlue: #373a3c;
  --cRed: darkred;
}

body * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
}

button,
select {
  cursor: pointer;
}
