:root {
  --cGreen: #5cb85c;
  --сGrey: #666;
  --cWhite: #f3f3f3;
  --cDBlue: #373a3c;
}

body * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
}
