.tag {
  margin-bottom: 0.2rem;
  margin: 0 3px 0.2rem 0;
  padding: 0.1rem 0.6rem;
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  border-radius: 10rem;
  background-color: rgb(129, 138, 145);
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}

.tag:hover {
  background-color: #666;
}
