.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  .rowContainer {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .rowContainer {
    max-width: 75%;
  }
}

.rowContainer {
  display: flex;
  flex: 12;
  overflow-x: hidden;
}

.row {
  display: flex;
  justify-content: space-between;
}

.main,
.aside {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 9;
}

.aside {
  flex: 3;
}

.p {
  padding: 1.5rem 0;
  color: var(--cDBlue);
}
