.profile {
  padding: 2rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cWhite);
  color: var(--cDBlue);
}

.username {
  font-size: 1.5rem;
  font-weight: 700;
}

.bio {
  margin: 0 auto 0.5rem auto;
  color: var(--—ÅGrey);
  max-width: 450px;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  margin-left: auto;
}

.p {
  padding: 1.5rem 0;
  color: var(--cDBlue);
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
