.column {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.sidebar {
  padding: 5px 10px 10px;
  background: var(--cWhite);
  border-radius: 4px;
  color: var(--cDBlue);
}

.p {
  margin-bottom: 0.2rem;
  color: rgb(55, 58, 60);
}
