.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  .form {
    min-width: 80%;
  }
}

@media (min-width: 1200px) {
  .form {
    min-width: 62%;
  }
}

.form {
  min-width: 62%;
  padding: 0 15px 1rem;
  display: flex;
  flex-direction: column;
}

.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  margin: 0 auto 0.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1;
}
