.container {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0 auto .5rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1;
}

.form {
  min-width: 50%;
  position: relative;
  min-height: 1px;
  padding: 0 15px 1rem;
  display: flex;
  flex-direction: column;
}

.left {
  margin: 0 auto 0 0;
}

.right {
  margin-left: auto;
}

.hr {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
}

.row {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
