@media (max-width: 1200px) {
  .container {
    max-width: 80%;
  }
  .row {
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 60%;
  }
  .row {
    justify-content: space-around;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0 auto 0.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1;
}

.form {
  min-width: 50%;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding: 0 15px 1rem;
  display: flex;
  flex-direction: column;
}

.left {
  margin: 0 auto 0 0;
}

.right {
  margin-left: auto;
}

.row {
  margin-top: 0.5rem;
  display: flex;
  align-items: flex-end;
}

.btn,
.submitBtn {
  min-height: 3.5rem;
}

.submitBtn {
  min-width: 12rem;
}
