@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 75%;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0 auto 0.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1;
}

.form {
  min-width: 50%;
  position: relative;
  min-height: 1px;
  padding: 0 15px 1rem;
  display: flex;
  flex-direction: column;
}

.left {
  margin: 0 auto 0 0;
}

.right {
  margin-left: auto;
}

.row {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
